<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular Friend Book</title>
  <link rel="stylesheet" href="">

</head>
<body>

  <header>
    <h1>MEMEBOOK</h1>
  </header>
  
  <main>
    
    <form action="" #formName="ngForm" formName.form.invalid novalidate (ngSubmit)="sendData()">
      <h2>Become a fellow meme:</h2>
      <label for="intput-firstname">Firstname:</label>
      <br>
      <input required pattern="^[a-zA-Z]*$" #firstname="ngModel" [(ngModel)]="friendModel.firstname" type="text" name="input-firstname" [class.error]="firstname.invalid && firstname.touched">
      <br>
      <label for="input-lastname">Lastname:</label>
      <br>
      <input required pattern="^[a-zA-Z]*$" #lastname="ngModel" [(ngModel)]="friendModel.lastname" type="text" name="input-lastname" [class.error]="lastname.invalid && lastname.touched">
      <br>
      <label for="input-email">E-mail:</label>
      <br>
      <input required pattern="^([a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6})*$" #email="ngModel" [(ngModel)]="friendModel.email" type="text" name="input-email" [class.error]="email.invalid && email.touched">
      <br>
      <label for="input-phone-number">Phone number:</label>
      <br>
      <input required minlength="8" pattern="^[0-9]*$" #phoneNumber="ngModel" [(ngModel)]="friendModel.phoneNumber" type="tel" name="input-phone-number" [class.error]="phoneNumber.invalid && phoneNumber.touched">
      <br>
      <label for="chosen-language">Choose your favourite language:</label>
      <br>
      <select required  #chosenLanguage="ngModel" [(ngModel)]="friendModel.chosenLanguage" name="chosen-language" id="chosen-language" [class.error]="chosenLanguage.invalid && chosenLanguage.touched">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="C">C</option>
        <option value="C++">C++</option>
        <option value="C#">C#</option>
        <option value="Ruby">Ruby</option>
      </select>
      <br>
      <label for="custom-message">Tell me a fun fact about yourself:</label>
      <br>
      <input type="text" #customMessage="ngModel" [(ngModel)]="friendModel.customMessage" name="custom-message" id="custom-message">
      <br>
      <button type="submit" [disabled]="formName.invalid">SEND VERY MEMEINGFULL DATA</button>
    </form>

    <section id="friends-box">
      <h2>CURRENT MEME FRIENDS: </h2>
      <div id="friends-flex">
      <div id="friends-flex" *ngFor="let friend of allFriends">
        <div class="friend">
          <h3 id="name">
            {{friend.firstname}}
            {{friend.lastname}}
          </h3>
          <h3 id="contact-info">
            Contact info:
          </h3>
          <p>{{friend.email}}
          <p>{{friend.phoneNumber}}</p>
          <h3 id="facts-and-fun-stuff">Info and fun stuff</h3>
          <p>My preffered programming language is: {{friend.chosenLanguage}}</p> <br>
          <p>{{friend.customMessage}}</p>
        </div>
      </div>
      </div>
    </section>
  </main>

  <footer>

  </footer>
  
</body>
</html>

<router-outlet></router-outlet>
